[submodule ".vim/plugin/dwm"]
	path = .vim/plugin/dwm
	url = https://github.com/spolu/dwm.vim.git
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
